<h1>Waitlist activity</h1>
<p class="mb-3"><em>Last 50 updated entries</em></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Updated</th>
            <th scope="col">Created</th>
            <th scope="col">Category</th>
            <th scope="col">Current Status</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Tool</th>
            <th scope="col">Hold Expiration</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let waitHold of waitHold$ | async">
            <td>{{waitHold.updated | date:'medium'}}</td>
            <td>{{waitHold.created | date}}</td>
            <td>{{waitHold.category}}</td>
            <td>{{waitHold.status}}</td>
            <td>{{waitHold.name}}</td>
            <td>{{waitHold.email}}</td>
            <td>{{waitHold.tool}}</td>
            <td>{{waitHold.holdExpiration | date}}</td>
        </tr>

    </tbody>
</table>