<h1>Edit waitlist entry</h1>
<div class="row">
    <div class="col-lg-6">
        <form>
            <div class="form-group mt-3">
                <label for="nameInput">Member name</label>
                <input type="text" class="form-control" id="nameInput" name="nameInput" [(ngModel)]="waitHold.name"
                    [ngbTypeahead]="search" placeholder="Joe Pesci" />
            </div>
            <div class="form-group mt-3">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" name="emailInput" [(ngModel)]="waitHold.email"
                    placeholder="name@example.com">
            </div>
            <div class="form-group mt-3">
                <label for="toolInput">Tool <span class="text-muted">(leave blank for next
                        available)</span></label>
                <input type="text" class="form-control" id="toolInput" name="toolInput" [(ngModel)]="waitHold.tool"
                    placeholder="1234">
            </div>
            <div class="form-group mt-3" *ngIf="waitHold.status == 'Holding'">
                <label for="holdInput">Hold Expiration</label>
                <input type="date" class="form-control" id="holdInput" name="holdInput"
                    [ngModel]="waitHold.holdExpiration | date:'yyyy-MM-dd'"
                    (ngModelChange)="updateDate($event)" placeholder="1234">
            </div>
            <div class="mt-3">
                <button (click)="updateWaitHold()" type="button" class="btn btn-primary me-1">Save</button>
                <button [routerLink]="'/category/' + waitHold.category" type="button"
                    class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>