<div class="row">
    <div class="col-sm-4" *ngFor="let category of categories">
        <div class="card mb-3">
            <h3 class="card-header">{{category.name}}</h3>
            <!-- <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div> -->
            <!-- <div class="card-body">
            <p class="card-text">4 members on list (2 holding, 2 waiting)</p>
        </div> -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{category.holding}} members holding</li>
                <li class="list-group-item">{{category.waiting}} members waiting</li>
            </ul>
            <div class="card-body">
                <div class="btn-group">
                    <button class="btn btn-primary" type="button" ngbPopover="Add a member to the waitlist"
                        triggers="mouseenter:mouseleave"><i class="bi bi-plus-lg"></i> Add</button>
                    <button class="btn btn-secondary" type="button" ngbPopover="View the waitlist"
                    triggers="mouseenter:mouseleave"><i class="bi bi-eye"></i> View</button>
                    <button class="btn btn-light" type="button" ngbPopover="Remove this category"
                    triggers="mouseenter:mouseleave"><i class="bi bi-trash"></i> Delete</button>
                </div>
            </div>
            <!-- <div class="card-footer">
                <a href="#" class="text-muted" style="text-decoration: none;"><i class="bi bi-pencil"></i> Edit
                    category</a>
            </div> -->
        </div>
    </div>
</div>