<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'/'">NESTL Waitlist</a>
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/categories'" [routerLinkActive]="['active']">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/add-wait'" [routerLinkActive]="['active']">Wait</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/expired-holds'" [routerLinkActive]="['active']">Expired</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/activity'" [routerLinkActive]="['active']">Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/update-users'" [routerLinkActive]="['active']">Members</a>
                </li>
            </ul>
            <button class="btn btn-light" type="button" *ngIf="user" (click)="logout()"><i class="bi bi-box-arrow-left"></i> Logout</button>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>